.navigation {
  background-color: $color-White;
  padding: 1.3rem 7rem;
  position: relative;
  z-index: 9;

  display: flex;
  justify-content: space-between;

  @media only screen and(max-width:$bp-smallest) {
    padding: 1.3rem 3rem;
  }

  &--logo {
    align-self: center;
  }

  &--links {
    align-self: center;

    display: flex;

    @media only screen and (max-width: $bp-small) {
      display: none;
    }

    & a {
      display: block;
      text-decoration: none;
      position: relative;
      color: $color-Grayish-Blue;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      &:link::before,
      &:visited::before {
        content: "";
        position: absolute;
        background-image: linear-gradient(
          to left,
          $color-Bright-Cyan,
          $color-Lime-Green
        );
        height: 0.4rem;
        top: 3.7rem;
        width: 100%;
        transform-origin: center;
        transform: scaleX(0);
        transition: transform 0.6s ease 0.1s;
      }

      &:hover::before,
      &:hover::before {
        transform: scale(1);
      }
    }
  }

  &--button {
    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &--burger__menu {
    display: none;

    @media only screen and (max-width: $bp-small) {
      display: block;
    }
  }
}
